# Google AI Studio 
#GOOGLE_GENAI_USE_ENTERPRISE=FALSE
#GOOGLE_API_KEY=<your-api-key>

#Gemini Enterprise Agent Platform
GOOGLE_GENAI_USE_ENTERPRISE=TRUE
GOOGLE_CLOUD_PROJECT=<your-project-id>
GOOGLE_CLOUD_LOCATION=global